#maildiv {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#maillink {
    color: rgb(255, 87, 0);
    text-align: center;
    font-size: 40px;
}

#maillink:active {
    color: rgb(255, 87, 0);
}

#maillink:link {
    color: rgb(255, 87, 0);
}

#maillink:visited {
    color: rgb(255, 87, 0);
}