#submit {
	align-items: center;
	appearance: none;
	background-color: #FCFCFD;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(4, 205, 255, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395A;
	display: inline-flex;
	font-family: "JetBrains Mono",monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	transition: box-shadow .4s,transform .4s;
	will-change: box-shadow,transform;
	font-size: 18px;
	margin: 35px;
}

#submit:hover {
  box-shadow: rgba(0, 255, 191, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-6px);
}

.payinfo {
	font-family: "JetBrains Mono",monospace;
    margin: 5px;
}

input {
    border-radius: 3px;
    border-width: 0px;
	font-family: "JetBrains Mono",monospace;
}

#result {
    font-weight: bold;
}

h2 {
    margin: 40px;
    margin-bottom: 60px;
}