body {
    background-color: rgb(243, 243, 243);
}

.header {
    padding: 20px;
    text-align: left;
    background: #c7e5df;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.headerimg {
    max-width: 25%;
    max-height: 25%;
    margin-left: 0;
    order: 100;
}

.headerlink {
    order: 200;
}