@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:rgb(214, 183, 130);
}

.headerhome {
    flex: 1;
    color: rgb(31, 134, 185);
    height: 50%;
}

.header {
    padding: 10px;
    text-align: left;
    background: #c7e5df;
    color: white;
    font-size: 30px;
    display: flex;
    height: 25%;
    align-items: center;
}

.headerlink {
    flex: 1;
}

.headerlinklink {
    color: rgb(255, 211, 122);
}

.headerlinklink:active {
    color: rgb(255, 211, 122);
}

.headerlinklink:link {
    color: rgb(255, 211, 122);
}

.headerlinklink:visited {
    color: rgb(255, 211, 122);
}